node_modules
.cache/
dist/
.env
.vscode/chrome/
.DS_Store
coverage/
test-report.xml
/**/backend_uni_test_report.xml
frontend_unit_test_report.xml
junit.xml
cypress_test_report.xml
cypress/videos/
cypress/screenshots/
/.vs
/-node_modules
**/bin/**
**/obj/**
**/*.user
**/dist/**
**/tsout/**
